li {
    list-style-type: none;
    padding: 10px;
}

#getBonusButton:hover {
    background-color: #85bb65;
    transition-duration: .5s;
}
#getBonusButton {
height: 100px;
width: 200px;
font-size:1.2em;
}

body {
    background-image: url(/Users/mileslacek/prime/tier2/assignments/object-group-bonus-calculator/images/moneybag.png);
    
}
